/* Select all CSS */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/* .header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
}

.nav-items > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.nav-items > ul > li {
  padding: 10px;
  cursor: pointer;
} */

.logo {
  width: 120px;
  height: 70px;
  cursor: pointer;
}

.card :hover {
  transform: scale(1.05);
}
img {
  width: 254px;
  height: 160px;
  border-radius: 10px;
}
.resturantList {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.searchBar {
  padding: 10px;
  display: flex;
  justify-content: center;
}

/** Shimmer UI CSS **/
.shimmer-card {
  position: relative;
  width: 240px;
  border-radius: 5px;
  box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}
.shimmer-card > .shimmer-image {
  width: 100%;
  border-radius: 10px;
  background: rgb(196, 188, 188);
  height: 224px;
  overflow: hidden;
}
.restaurant-menu {
  padding: 10px;
  display: flex;
}
.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.menu {
  padding: 20px;
}
